In [1]:
i = 1         

while i<=5:    
    print('data science')
    i = i + 1

data science
data science
data science
data science
data science

In [6]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

data science
data science
data science
data science
data science

In [3]:
i = 1         # initializing
while i<=5:    # condition
    print('data science :' , i)
    i = i + 1  # increment

data science : 1
data science : 2
data science : 3
data science : 4
data science : 5

In [7]:
i = 5          # initializing
while i>=1:    # condition
    print('data science :',i)
    i = i - 1  # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [8]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [9]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [10]:
# lets use while loop usig some numbers
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [11]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [12]:
name = 'nit'

for i in name:
    print(i)

n
i
t

In [13]:
name1 = [1,3.5,'hallo'] #i want print the value individualy

for i in name1:
    print(i)

1
3.5
hallo

In [14]:
range(5)

range(0, 5)

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for i in range(1,10,3):
    print(i)

1
4
7

In [19]:
# print 5 multiplication table 

for i in range(1,51):
    
    if i%5==0 :
        print(i)

5
10
15
20
25
30
35
40
45
50

- break
- continue
- pass

In [25]:
for i in range(1,11):
    
    if i == 6:
        break
        
    print(i)

1
2
3
4
5

In [27]:
for i in range(1,11):
    
    if i == 7:
        continue
        
    print(i)

1
2
3
4
5
6
8
9
10

In [29]:
for i in range(1,11):

SyntaxError: incomplete input (3725755863.py, line 2)

In [30]:
for i in range(1,11):
    pass